

{% extends 'base.html.twig' %}

{% block title %}Les Articles{% endblock %}




{% block main %}


<main>
    <section>

        <div class="container">
        {#  le premier c'est la variable de twig in nom de la variable du controleur #}
        {% for category in categories %}
            {# je fais le lien vers la page category  #}
            <a href="{{ path('category_show', {'id': category.id}) }}"><p>{{ category.title }}</p></a>
            {# j'affiche la date de création et publiée en ajoutant le filtre qui affiche correctmt la date  #}
            <p>{{ category.datecreated|date("m/d/Y") }}</p>
            <p>{{ category.datepublished|date("m/d/Y") }}</p>
            <br /><br />
        {% endfor %}
        </div>
    </section>

</main>
{% endblock main %}
