{% extends 'base.html.twig' %}


{% block title %}Les Articles{% endblock %}



{% block main %}

<main>
    <section>


            <div><h1>Modifier l'article</h1><div>
            <br />
            <div>{{ form(formView) }}</div>


    </section>
</main>

{% endblock main %}
