

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name= »description » content= »La description de page géniale !=)" » />
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css' ) }}" >
    <title>{% block title %}ENREGISTREMENT DE VOTRE ARTICLE{% endblock title %}</title>
</head>
<body>


<main>
    <section>

        <h1>Youpi ! Votre article a bien été enregistré !</h1>

    </section>

</main>


</body>
</html>


