{% extends 'base.html.twig' %}

{% block title %}Les Articles{% endblock %}




{% block main %}
<main>

    {# j'utilise la fonction Twig form pour afficher mon formulaire  #}
    {#  avec en parametre la variable de formulaire #}
    {{ form(formView) }}


</main>


{% endblock main %}


