{% extends 'base.html.twig' %}


{% block title %}Les Catégories{% endblock %}



{% block main %}

<main>


    <section class="block">
    {# j'utilise la fonction Twig form pour afficher mon formulaire  #}
    {#  avec en parametre la variable de formulaire #}
    {#  le gabarit et les données du formulaire qui execute dans twig  #}
        <div><h1>Créer une nouvel catégorie</h1></div>
        <br />
        <div>{{ form(formView) }}</div>

    </section>

</main>

{% endblock main %}


