{% extends 'base.html.twig' %}


{% block title %}Les Catégories{% endblock %}



{% block main %}

<main>
    <section class="block">


            <div><h1>Modifier la catégorie</h1></div>
            <br />
            <div>{{ form(formView) }}</div>


    </section>
</main>

{% endblock main %}
